.homework07-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  padding: 50px;
  background: rgb(60, 232, 30);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  color: rgb(210, 232, 17);
  font-weight: bold;
}
